	@import url(https://fonts.googleapis.com/css?family=Lato:100,100italic,300,300italic,regular,italic,700,700italic,900,900italic&display=swap );


	body{
		max-width: 810px;
		font-family:"Lato";
		font-size: 16px;
		font-style: normal;
		line-height: 160%;
		color: #424551;
	}
	.title{
		font-weight: 900;
		font-size: 46px;
		line-height: 130%;
		color: #1E212C;
	}
	.text-bold,.text-bold-2 {
		font-weight: 700;
		font-size: 20px;
		color: #1E212C;
	}
	
	.list{
		text-indent: 32px;
	}